extends ../includes/layout
block extscript
  script.
    $('#id').blur(function(){
      if($('#id').val() != "") {
        $.ajax({
            type: 'post',
            url : 'https://#{hostname}/auth/exist/id',
            data : {
                data : $('#id').val()
            },
            success : function s(a){ 
              if(a.success == true){
                $("#id").addClass('uk-form-success');
                toastr.info(a.message)
              } else {
                toastr.warning(a.message)
                $("#id").addClass('uk-form-danger');
              }
            },
            error : function error(){ toastr.warning("Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", "죄송합니다!"); }
        });
      } else {
        $("#id").removeClass('uk-form-danger uk-form-success');
      }
    });
    $('#mail').blur(function(){
      if($('#mail').val() != "") {
        $.ajax({
            type: 'post',
            url : 'https://#{hostname}/auth/exist/mail',
            data : {
                data : $('#mail').val()
            },
            success : function s(a){ 
              if(a.success == true){
                toastr.info(a.message)
                $("#mail").addClass('uk-form-success');
              } else {
                toastr.warning(a.message)
                $("#mail").addClass('uk-form-danger');
              }
            },
            error : function error(){ toastr.warning("Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", "죄송합니다!"); }
        });
      } else {
        $("#mail").removeClass('uk-form-danger uk-form-success');
      }
    });

block contents
  form(method='post')
    fieldset.uk-fieldset
      legend.uk-legend Baw Service 회원가입
      .uk-margin
        label 아이디
        input.uk-input(type='text', id="id", name="id", placeholder='ID')
      .uk-margin
        label 비밀번호
        input.uk-input(type='password', id="pass", name="pass", placeholder='비밀번호')
      .uk-margin
        label 비밀번호 확인
        input.uk-input(type='password', id="pass2", name="pass2", placeholder='비밀번호 확인')
      .uk-margin
        label 서버 이름
        br
        .uk-inline.uk-width-1-1
          input.uk-input(type='text', id="svname", name="svname", placeholder='서버 이름 ("서버"는 자동 입력)')
          p.uk-form-icon.uk-form-icon-flip(style="background-color: #b4b6ba;") 서버
      .uk-margin
        label 이메일
        input.uk-input(type='mail', id="mail", name="mail", placeholder='이메일')
      .uk-margin
        label 전화번호
        input.uk-input(type='number', id="phone", name="phone", placeholder='전화번호 ("-"은 제외)')
        
      button.uk-button.uk-button-primary(type="submit")
        i(class="fas fa-user-plus")
        |  회원 가입
      button.uk-button.uk-button-default(type="reset")
        i(class="fas fa-undo")
        |  재입력
