extends ../includes/layout
block extscript
  script.
    $(".socialonly").toggle()
    loadScript('https://www.google.com/recaptcha/api.js')
    function captchaSubmit() {
    	$("#reg").submit();
    }
    function signupWithSocial(name) {
      post("/auth/register?social="+name, {svname: $("#svname").val()})
      return false;
    }
    $("#social").change(() => {
      $(".idonly").toggle()
      $(".socialonly").toggle()
    })
    $('#id, #mail').blur((event) => {
      var element = $(event.target).attr("id")
      var target = $(event.target).closest(".field")
      if($(event.target).val() != "") {
        $.ajax({
            type: 'post',
            url : '/auth/exist/'+element,
            data : {
                data : $(event.target).val()
            },
            success : function s(a){ 
              if(a.success == true){
                $(target).removeClass('error');
                iziToast.info({message: a.message})
              } else {
                $(target).addClass('error');
                iziToast.warning({message: a.message})
              }
            },
            error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
      } else {
        $(event.target).removeClass('error');
      }
    });

block contents
  .ui.message
    .ui.header
      h2 Baw Service 회원가입
    br
    .ui.form
      .field
        .ui.checkbox
          input.hidden#social(type='checkbox')
          label 로그인에 Google, Kakao 등의 타 서비스 계정을 사용하겠습니다.
    br
    form.ui.form#reg(method='post')
      .field.idonly
        label(for="id") 아이디
        input(type='text', id="id", name="id", placeholder='ID')
      .field.idonly
        label(for="pass") 비밀번호
        input(type='password', id="pass", name="pass", placeholder='비밀번호')
      .field.idonly
        label(for="pass2") 비밀번호 확인
        input(type='password', id="pass2", name="pass2", placeholder='비밀번호 확인')
      .field
        label(for="svname") 서버 이름
        input(type='text', id="svname", name="svname", placeholder='서버 이름 ("서버"는 자동 입력)')
      .field.idonly
        label(for="mail") 이메일
        input(type='email', id="mail", name="mail", placeholder='이메일')
      .field
        .ui.checkbox
          input.hidden#terms(type='checkbox')
          label
            a(target="_blank" href="https://baw-service.tistory.com/29") Baw Service 이용 약관에 동의합니다.
      .idonly(style="display: inline")
        button.ui.button.primary.g-recaptcha(type='submit', data-sitekey='6LeKTiwUAAAAANOYA7r37sTyquy_R0ljzSTVS6Bp', data-callback='captchaSubmit')
          i.fas.fa-user-plus
          |  회원 가입
      .socialonly(style="display: inline;")
        button.ui.google.plus.button.icon(onclick="return signupWithSocial('google')")
          i.fab.fa-google
        button.ui.button.yellow.icon(onclick="return signupWithSocial('kakao')")
          i.fas.fa-comment
        
      button.ui.button(type="reset")
        i.fas.fa-undo
        |  재입력
