extends ../includes/layout
block extscript
  script.
    loadScript('https://www.google.com/recaptcha/api.js')
    function captchaSubmit() {
    	$("#reg").submit();
    }
    $('#id, #mail').blur((event) => {
      var element = $(event.target).attr("id")
      var target = $(event.target).closest(".field")
      if($(event.target).val() != "") {
        $.ajax({
            type: 'post',
            url : '/auth/exist/'+element,
            data : {
                data : $(event.target).val()
            },
            success : function s(a){ 
              if(a.success == true){
                $(target).removeClass('error');
                iziToast.info({message: a.message})
              } else {
                $(target).addClass('error');
                iziToast.warning({message: a.message})
              }
            },
            error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
      } else {
        $(event.target).removeClass('error');
      }
    });

block contents
  .ui.message
    .ui.header
      h2 Baw Service 회원가입
    br
    form.ui.form#reg(method='post')
      .field
        label(for="id") 아이디
        input(type='text', id="id", name="id", placeholder='ID')
      .field
        label(for="pass") 비밀번호
        input(type='password', id="pass", name="pass", placeholder='비밀번호')
      .field
        label(for="pass2") 비밀번호 확인
        input(type='password', id="pass2", name="pass2", placeholder='비밀번호 확인')
      .field
        label(for="svname") 서버 이름
        input(type='text', id="svname", name="svname", placeholder='서버 이름 ("서버"는 자동 입력)')
      .field
        label(for="mail") 이메일
        input(type='email', id="mail", name="mail", placeholder='이메일')
      .field
        .ui.checkbox
          input.hidden#terms(type='checkbox')
          label Baw Service 이용 약관에 동의합니다.

      button.ui.button.primary.g-recaptcha(type='submit', data-sitekey='6LeKTiwUAAAAANOYA7r37sTyquy_R0ljzSTVS6Bp', data-callback='captchaSubmit')
        i(class="fas fa-user-plus")
        |  회원 가입
      button.ui.button(type="reset")
        i(class="fas fa-undo")
        |  재입력
