extends ../includes/layout
block contents
  div(style='text-align: center;')
    h2(style='font-size: 18pt')
      | 거의 완료되었습니다. 새로운 비밀번호를 입력해주세요
    .ui.divider
    form(action="/auth/setPassword" method="post")
      .ui.form
        .field
          label 비밀번호
          input(type="password", name="pass1", placeholder="비밀번호")
        .field
          label 비밀번호 확인
          input(type="password", name="pass2", placeholder="비밀번호 확인")
        input(type="hidden", name="code", value=code)
            
        button.ui.button.icon.labeled.primary(type="submit" style="float: right")
          i.icon.plane
          | 비밀번호 변경
        
    br
    br
    p
      a(href="javascript:history.go(-1)")
        | 비밀번호가 기억났어요!
