script( src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' )   
script( src='//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.2/jquery.pjax.js' )
script.
    $( document ).pjax( 'a', '#contents' );
