title Baw Service
meta(name="description" content="마인크래프트 서버 운영자를 위한 최고의 도구를 Baw Service에서 무료로 이용해보세요.")
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
link(rel="shortcut icon" href='/public/img/favicon.ico')
link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css')
link(rel="stylesheet" href='/public/fontawesomepro/css/all.css')
link(rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css')
link(rel="stylesheet" href='/public/dashboard/css/dashboard/setting.css')
link(rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css')
link(rel="manifest" href='/manifest.json')
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-112023380-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-112023380-1');
