title Baw Service Dashboard Beta 4
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href="https://#{hostname}/public/uikit/css/uikit.min.css")
link(rel="stylesheet" href="https://#{hostname}/public/nprogress/nprogress.min.css")
link(rel="stylesheet" href="https://#{hostname}/public/fontawesome/css/fa-svg-with-js.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")
