title Baw Service Dashboard Beta 4
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href="https://#{hostname}/public/uikit/css/uikit.min.css")
script(src="https://#{hostname}/public/uikit/js/uikit.min.js")
script(src="https://#{hostname}/public/uikit/js/uikit-icons.min.js")
