if pjax
    if session.error
      .uk-alert-warning(uk-alert)
        a.uk-alert-close(uk-close)
        p= session.error
        - delete session.error;
    block contents
    if(ad == true)
      br
      ins.daum_ddn_area(style='display:none;width:100%;', data-ad-unit='DAN-vf3og7audbad', data-ad-media='5rL', data-ad-pubuser='3ZP', data-ad-type='A', data-ad-width='320', data-ad-height='50')
      script.
        loadScript('https://t1.daumcdn.net/adfit/static/ad.min.js')
    block extscript
else
  doctype html
  head
    include ./header
  body
    include ./nav
    div(uk-grid)
      div(class='uk-width-1-5@m uk-text-center uk-visible@m')
        include ./sidebar
      div.sitedata(class='uk-width-3-4@m')
        #contents
          if session.error
            .uk-alert-warning(uk-alert)
              a.uk-alert-close(uk-close)
              p= session.error
              - delete session.error;
          block contents
          if(ad == true)
            ins.daum_ddn_area(style='display:none;width:100%;', data-ad-unit='DAN-vf3og7audbad', data-ad-media='5rL', data-ad-pubuser='3ZP', data-ad-type='A', data-ad-width='320', data-ad-height='50')
            br
  include ./footer
  block extscript
  script.
    loadScript('https://t1.daumcdn.net/adfit/static/ad.min.js')
