if pjax
    if session.error
      .uk-alert-warning(uk-alert)
        a.uk-alert-close(uk-close)
        p= session.error
        - delete session.error;
    block contents
    block extscript
else
  doctype html
  head
    include ./header.jade
  body
    include ./nav.jade
    div(uk-grid)
      div(class='uk-width-1-5@m uk-text-center uk-visible@m')
        include ./sidebar.jade
      div.sitedata(class='uk-width-3-4@m')
        #contents
          if session.error
            .uk-alert-warning(uk-alert)
              a.uk-alert-close(uk-close)
              p= session.error
              - delete session.error;
          block contents
  include ./footer.jade
  block extscript
