.ui.large.menu.fixed
  a.item(href="/")
    img(src='/public/img/favicon.jpg', alt="Logo")
  .right.menu
    .item.mobile.hidden
      .ui.icon.input
        input(type='text', placeholder='원하는것을 찾으세요...')
        i.fal.fa-search.icon
    if(!user)
      .item.mobile.hidden
        a.ui.primary.button(href="/auth/register") Sign Up
      .item
        a.ui.button(href="/auth/login") Sign In
    else
      .item
        .circular.ui.icon.button.dropdown
          i.fal.fa-cogs.icon
          .menu
            .header #{user.svname}서버로 로그인중
            .divider
            a.item(href="/my") 내 정보 수정
            .divider
            a.item(href='/auth/login', onclick="iziToast.info({title:'계정 전환을 완료하세요.',message:'계정 전환을 완료하려면 대상으로 로그인하세요.'})") 계정 전환
            a.item(onclick="location.href='/auth/logout'") 로그아웃
    .item.mobile.only
      a.circular.ui.icon.button(onclick="$('.ui.sidebar#sidebar').sidebar('toggle')")
        i.far.fa-list-ul.icon
