ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
  li.link
    a(href='https://' + hostname) 홈
  li.uk-nav-header SERVICE MANAGEMENT
  li.link
    a(href='https://' + hostname + '/manage') 나의 페이지 전체 보기
  li.uk-parent
    a(href='#') 사이트 관리
    ul.uk-nav-sub
      li.link
        a(href='https://' + hostname + '/manage/1/view') 후원 리스트 관리
      li.link
        a(href='https://' + hostname + '/api/Custom/edit') 후원 사이트 도메인 설정
      li.link
        a(href='https://' + hostname + '/manage/2/view') 정품 인증 리스트 관리
  li.uk-parent
    a(href='#') 사이트 수정
    ul.uk-nav-sub
      li.link
        a(href='https://' + hostname + '/manage/1/edit') 후원 사이트 수정
      li.link
        a(href='https://' + hostname + '/manage/2/edit') 정품 인증 사이트 수정
      li.link
        a(href='https://' + hostname + '/manage/3/edit') 서버 상태 위젯 수정
  li.uk-parent
    a(href='#') 데이터 관리자
    ul.uk-nav-sub
      li.link
        a(href='https://' + hostname + '/manage/1/data_manager') 후원 데이터 관리자
      li.link
        a(href='https://' + hostname + '/manage/2/data_manager') 정품 인증 데이터 관리자
  li.uk-parent
    a(href='#') 알림 서비스 관리
    ul.uk-nav-sub
      li.link
        a(href='https://' + hostname + '/api/API/edit') API 플러그인 설정
      li.link
        a(href='https://' + hostname + '/api/SMS/edit') SMS 알림 설정
      li.link
        a(href='https://' + hostname + '/api/Kakao/edit') KakaoTalk 알림 설정
      li.link
        a(href='https://' + hostname + '/api/Telegram/edit') Telegram 알림 설정
  li.uk-nav-header BAW SERVICE
    li.uk-parent
      a(href='#') Baw Service Blog
      ul.uk-nav-sub
        li.link
          a(href='http://baw-service.tistory.com') Baw Service 공식 블로그
        li.link
          a(href='http://baw-service.tistory.com/13') Baw Service 인증 알아보기
        li.link
          a(href='http://baw-service.tistory.com/29') Baw Service 이용 약관
    li.link
      a(href='https://'+hostname+'/BawService') Baw Service 후원
    li.link
      a(href='https://gitlab.com/Baw-Dev/Baw-Service') Baw Service 오픈소스 프로젝트
    li.uk-parent
      a(href='#') Baw Service 버그 신고
      ul.uk-nav-sub
        li.link
          a(href='mailto:pp121324@gmail.com') Email
        li.link
          a(onclick='void plusFriendChat()') KakaoTalk
        li.link
          a(href='https://t.me/BawAppie') Telegram
    
