a.item.sidebar_link.home_button(href="/")
  i.far.fa-home.icon
  |  홈
a.item.sidebar_link.manage_button(href="/manage")
  i.far.fa-wrench.icon
  |  서비스 관리
a.item.sidebar_link.api_button(href="/API")
  i.far.fa-user.icon
  |  기타 서비스 연동
a.item.sidebar_link.contact_button(href="/contact")
  i.far.fa-envelope.icon
  |  고객센터 / 버그신고
