ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
  li.uk-nav-header SERVICE MANAGEMENT
    li.link
      a(href='https://' + hostname) 홈
  li.uk-parent
    a(href='#') 추가 및 관리
    ul.uk-nav-sub
      li.link
        a(href='https://' + hostname + '/manage') 전체 보기
      li.link
        a(href='https://' + hostname + '/manage/1/edit') 후원 사이트 수정
      li.link
        a(href='https://' + hostname + '/manage/1/view') 후원 사이트 관리
      li.link
        a(href='https://' + hostname + '/manage/2/edit') 정품 인증 사이트 수정
      li.link
        a(href='https://' + hostname + '/manage/2/view') 정품 인증 사이트 관리
      li.link
        a(href='https://' + hostname + '/manage/3/edit') 서버 상태 위젯 수정
  li.uk-parent
    a(href='#') 부가 서비스 관리
    ul.uk-nav-sub
      li.link
        a(href='https://' + hostname + '/api/API/edit') API 플러그인 설정
      li.link
        a(href='https://' + hostname + '/api/SMS/edit') SMS 알림 설정
      li.link
        a(href='https://' + hostname + '/api/Kakao/edit') KakaoTalk 알림 설정
      li.link
        a(href='https://' + hostname + '/api/Telegram/edit') Telegram 알림 설정
      li.link
        a(href='https://' + hostname + '/api/Custom/edit') 커스텀 도메인 설정
  li.link
    a(href='http://baw-service.tistory.com/13') Baw Service 인증
  li.uk-nav-header BAW SERVICE
    li.link
      a(href='http://baw-service.tistory.com') Baw Service 공식 블로그
    li.link
      a(href='https://raw.githubusercontent.com/Baw-Appie/Baw-Service/master/terms') Baw Service 이용 약관
    li.link
      a(href='https://'+hostname+'/BawService') Baw Service 후원
    li.link
      a(href='https://OpenSource.baws.kr') Baw Service OpenSource Project
    
