extends ../includes/layout
block extscript
  script.
    $('button.send').click(() => {
      if($('#phone').val() != "") {
        $.ajax({
            type: 'post',
            url : 'https://#{hostname}/secuity/req_code',
            data : {
                phone : $('#phone').val()
            },
            success : function s(a){ 
              if(a.success == true){
                iziToast.info({title: a.title, message: a.message})
              } else {
                iziToast.warning({title: a.title, message: a.message})
              }
            },
            error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title:"이런.."}); }
        });
      } else {
        iziToast.warning({message: '전화번호를 먼저 입력하세요.', title: '엥? 뭐라고요?'})
      }
    });
    $(function(){
      $("#edit").submit(function(){
        NProgress.start();
        $.ajax({
          type: "post",
          url : "#",
          data : $("#edit").serialize(),
          success : function s(a){
            if(a.success == true) {
              iziToast.success({message: a.message, title: a.title}); NProgress.done();
              $.pjax({url: 'https://#{hostname}/API', container: "#contents"})
            } else {
              iziToast.warning({message: a.message, title: a.title}); NProgress.done();
            }
          },
          error : function error(){ iziToast.warning({message: "Baw Service 빠른 설정 적용이 설정을 적용하는 도중 문제가 발생했습니다.", title: "이런.."});  NProgress.done(); }
        });
        return false;
      });
    });

block contents
  form#edit(method='post')
    .ui.header
      h2
        i.icon.far.fa-wrench
        | 카카오톡 알림톡 수신 설정
    .ui.attached.message
      .header 카카오톡 정보
      | 인증번호는 카카오톡으로 발송됩니다.
    .ui.attached.fluid.segment.form
      .field
        label 카카오톡이 설치된 한국 국제번호
        input#phone(type='text', name='phone', placeholder='"-"를 제외한 한국전화번호')
      .field
        button.ui.button.primary.icon.send.labeled(type="button")
          i.icon.far.fa-plane
          | 인증번호 발송
        | 인증번호는 하루에 최대 2회만 받을 수 있습니다.
      .field
        label 인증번호
        input(type='text', name='code', placeholder='인증번호')
      .field
        .ui.checkbox
          input.hidden(type='checkbox' name='okay')
          label 알림톡(정보성 메시지) 수신에 동의(신청)합니다
    br
    button#save.ui.button.primary.icon.labeled(type='submit')
      i.icon.fas.fa-save
      | 설정 저장
    a(onclick="$.pjax.reload('#contents')")
      button.ui.button.icon.labeled(type='button')
        i.icon.far.fa-undo
        | 다시 입력
