extends ./includes/layout
block contents
  div(style='text-align: center;')
    h2(style='font-size: 18pt')
      | 어떤 방법으로 Baw Service에 연락해보실래요?
    .ui.divider
    a.ui.twitter.icon.labeled.button(target="_blank", href="https://twitter.com/messages/compose?recipient_id=2365008222")
      i.fab.fa-twitter.icon
      | Twitter Direct Message
    button.ui.icon.labeled.yellow.button(onclick="plusFriendChat()")
      i.fas.fa-comment.icon
      | KakaoTalk Plus Friends
    a.ui.blue.icon.labeled.button(target="_blank", href="https://t.me/BawAppie")
      i.fab.fa-telegram-plane.icon
      | Telegram
    a.ui.icon.labeled.button(href="mailto:pp121324@gmail.com")
      i.fal.fa-envelope.icon
      | E-Mail
    br
    br
    p
      a(href="javascript:history.go(-1)")
        | 굳이 연락해볼 필요는 없는거 같아요.
