extends ./includes/layout
block contents
  .uk-grid-small.uk-child-width-1-2.uk-text-center(class='uk-child-width-1-4@s', uk-grid)
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 후원 금액
          h4 30만원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 30일 이내 후원 금액
          h4 30만원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 거절된 후원 횟수
          h4 30만원
    div
      .uk-panel
        .uk-alert.uk-margin-remove
          | 총 정품 인증 처리 횟수
          h4 30만원
  br
  p 앗! 이 페이지를 보고 계신다면 #{user.id}님이 Baw  Service Beta 4 Open Beta Tester이신가 보군요!
  p 지금 Baw Service Beta 4는 모든 기능이 완성되었어요!
  p 하지만 지금은 Beta 4만의 새로운 기능 추가와 버그 수정을 진행하고 있어 역시 불안정하답니다.
  p 5월 1일부터 Beta 4가 기본으로 적용되니 참고해주세요!
  p 그런데 만약 Baw Service Beta 4 체험 도중 접속이 갑자기 중단되는 발생한다면 개발자에게 이 사실을 알려주세요.
  p 카카오톡: pp121324, 이메일: pp121324@gmail.com
