extends ./includes/layout
block contents
  div(style='text-align: center;')
    div(style='font-size: 15pt')
      | 허걱!
    div(style='font-size: 18pt')
      | 아직도 IE를 사용하시다니요..
    hr.uk-driver
    p 개발사에서도 더 이상 개발하지 않는 Internet Explorer로 접속하고 계십니다.
    p Arrrow Function, Promise등의 Javascript의 최신 기능을 전혀 지원하지 않는 Internet Explorer로 접속하고 계십니다.
    p Baw Service는 Javascript의 최신 기술들을 활용하여 개발되었습니다.
    p 
      | 바이러스로부터 안전하며, 속도가 매우 빠르고, 다양한 에드온에, 동기화 기능은 정말 편하고, 사용자까지 많은 
      a(href="https://chrome.com")
        i.fab.fa-chrome
        |  Google Chrome
      | 의 사용을 추천드립니다.
    p
      | 만약 
      a(href="https://chrome.com")
        i.fab.fa-chrome
        |  Google Chrome
      | 이 싫다면 
      a(href="https://www.apple.com/kr/safari/") 
        i.fab.fa-safari
        |  Apple Safari
      | 의 사용도 좋습니다.
    p
      | 만약 
      a(href="https://www.apple.com/kr/mac/")
        i.fas.fa-laptop
        |  Apple Mac
      | 사용자가 아니라면 
      a(href="https://firefox.com")
        i.fab.fa-firefox
        |  Mozilla FireFox
      | 사용을 추천드릴 수 있습니다.
    p
      | 만약 
      a(href="https://firefox.com")
        i.fab.fa-firefox
        |  Mozilla FireFox
      | 도 싫으시다면 
      a(href="https://whale.naver.com/ko/") NAVER Whale
      | 을 사용해볼 수 있으며,
    p
      a(href="https://whale.naver.com/ko/") NAVER Whale
      | 마저 싫으시다면 
      a(href="https://www.microsoft.com/ko-kr/windows/microsoft-edge") 
        i.fab.fa-edge
        |  Microsoft Edge
      | 를 사용해볼 수도 있습니다.
