extends ../includes/layout
block contents
  .ui.container
    table.ui.celled.table
      thead
        th(width="3%") No.
        th(width="15%") 종류
        th 이름
        th(width="27%") 관리
      tbody
        each row, i in rows
          tr
            td=i+1
            case row.service
              when 1
                td 후원 사이트
              when 2
                td 정품인증 사이트
              when 3
                td 서버 상태 위젯
              when 4
                td 후원기록조회 사이트
              default
                td 알 수 없음
            td
              a(href=`https://${hostname}/`+row.name)
                | https://#{hostname}/#{row.name}
            td
              if(row.service != 4)
                a.ui.button.negative(href="/manage/"+row.service+"/edit") 수정
              -if(row.service == 1 || row.service == 2)
                a.ui.button.primary(href="/manage/"+row.service+"/view") 관리
                a.ui.button.positive.basic(href="/manage/"+row.service+"/data_manager") 데이터 관리자
      tfoot.full-width
        tr
          th
          th
          th
          th
            a.ui.right.floated.small.primary.labeled.icon.button(href="/manage/create")
              i.far.fa-plus.icon
              | 새 사이트
              
