/* enable nanumgothic */
/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  font-family: 'Nanum Gothic' !important;
} */

/* visible */
@media screen and (max-width: 400px) {
    div.sitedata { margin:0 auto;max-width: 95%; height: auto; }
}
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
  [class*="mobile visible"] {
    display: block !important;
  }
}

/* SemanticUI and iziToast error Fixer */
.iziToast-capsule {
  line-height: 0;
}

/* Remove Google Recaptcha badge */
.grecaptcha-badge {
  display: none;
}
