extends ../includes/layout
block contents
  div(style='text-align: center;')
    div(style='font-size: 15pt')
      | 엥?
    div(style='font-size: 18pt')
      | 이곳에는 아무것도 없습니다!
    hr.uk-driver
    p URL을 잘못 입력했거나, 사이트가 점검중이여서 발생한 문제일 수 있습니다. [404 ERROR]
    a(href="https://baws.kr")
      span(uk-icon="icon: home")
      |  메인 페이지로 돌아가기
