extends ../includes/layout
block contents
  div(style='text-align: center;')
    span(style='font-size: 18pt;color: #ff0000;') 요청한 페이지에 문제가 있습니다.
    br
    br
    p 서버에서 해당 페이지를 처리하던 도중 오류가 발생했습니다. [404 ERROR]
    br
    p 서버의 문제이므로 이 사실을 Baw Service 관리자에게 알려주세요. [카카오톡 pp121324] [이메일 pp121324@gmail.com]
