extends ../includes/layout
block extscript
  if sentry
    script(src="https://cdn.ravenjs.com/3.23.1/raven.min.js")
    script.
      Raven.showReportDialog({
        eventId: '#{sentry}',
        dsn: '#{server_settings.sentry}'
      });
      iziToast.error({title: '이런..', message: '페이지 로드 중 오류가 발생했습니다. 어떤 작업 도중 이 문제가 발생했는지 알려주세요. 버그 수정에 도움이 됩니다.'});
block contents
  div(style='text-align: center;')
    h2(style='font-size: 18pt')
      | 앗! 알 수 없는 문제가 있어요!
    .ui.divider
    p Baw Service에서 이 페이지를 로드하던 도중 오류가 발생했습니다.
    if sentry
      p 이 문제는 Baw Service의 문제로써, 담당자에게 이 문제가 자동으로 보고되었습니다.
    else
      p 이 문제는 Baw Service에서 발생하게 되어있는 오류이며, 담당자에게 이 문제가 자동으로 보고되지 않았습니다.
      p 만약 이 문제를 직접 보고하거나, 자세한 이유를 알고 싶으신 경우 아래 연락하기를 클릭하세요.
    p
      a(href="javascript:history.go(-1)")
        | 돌아가기 
      | 또는 
      a(href="/contact")
        | Baw Service에 연락해볼 수 
      | 있습니다.
